<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница администратора</title>
</head>
<body>
    <h1>Добро пожаловать на админскую страницу, {{ .UserName }}!</h1>
    <p>Здесь находятся функции и инструменты для администраторов.</p>


    

    <!-- Форма для добавления нового сотрудника -->
    <h2>Добавить сотрудника</h2>
    <form action="/add_user" method="POST">
        <input type="hidden" name="admin_id" value="{{ .UserID }}"> <!-- Передаем ID администратора -->

        <label for="login">Логин:</label>
        <input type="text" id="login" name="login" required><br>

        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required><br>

        <label for="role">Роль:</label>
        <select id="role" name="role">
            <option value="user">User</option>
            <option value="admin">Admin</option>
            <option value="chief_editor">Chief Editor</option>
            <option value="section_editor">Section Editor</option>
            <option value="author">Author</option>
        </select><br><br>

        <button type="submit">Добавить сотрудника</button>
    </form>

    <!-- Кнопка для показа всех сотрудников -->
    <h2>Список всех сотрудников</h2>
    <form action="/admin/employees" method="GET">
        <input type="hidden" name="id" value="{{ .UserID }}"> <!-- Передаем ID администратора как id -->
        <button type="submit">Показать всех сотрудников</button>
    </form>

    <!-- Список сотрудников с кнопками для удаления -->
    {{if .Users}}
    <h3>Сотрудники:</h3>
    <ul>
        {{range .Users}}
        <li>
            ID: {{.IDuser}}, Логин: {{.Login}}, Роль: {{.Role}}
            <form action="/delete_user" method="POST" style="display:inline;">
                <input type="hidden" name="admin_id" value="{{ $.UserID }}"> <!-- Передаем ID администратора -->
                <input type="hidden" name="user_id" value="{{.IDuser}}">
                <button type="submit" onclick="return confirm('Вы уверены, что хотите удалить сотрудника?');">Удалить</button>
            </form>
        </li>
        {{end}}
    </ul>
    {{else}}
    <p>Список сотрудников еще не загружен.</p>
    {{end}}
    
</body>
</html>
