<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница Главного редактора</title>
</head>

<body>
    <h1>Добро пожаловать на страницу Главного редактора!</h1>
    <p>Здесь главные редакторы могут управлять темами новостного выпуска.</p>

    <!-- Форма для добавления темы новостного выпуска -->
    <h2>Составление списка тем новостного выпуска</h2>
    <form action="/chief_editor/assign_topics" method="POST">
        <input type="hidden" name="editor_id" value="{{ .EditorID }}">

        <label for="topic">Тема:</label>
        <input type="text" id="topic" name="topic" required><br>

        <label for="department">Отдел:</label>
        <select id="department" name="department">
            <option value="politics">Политика</option>
            <option value="economy">Экономика</option>
            <option value="sports">Спорт</option>
        </select><br><br>

        <button type="submit">Распределить по отделам</button>
    </form>

    <!-- Проверка и управление публикациями -->
    <h2>Проверка и управление публикациями</h2>
    {{if .Publications}}
    <ul>
        {{range .Publications}}
        <li>
            <h4>Название: {{.Title}}</h4>
            <p>{{.Content}}</p>
            {{if eq .Status "approved"}}
            <p style="color: green;">Публикация уже одобрена</p>
            {{else}}
            <form action="/approve_publication" method="POST" style="display:inline;">
                <input type="hidden" name="article_id" value="{{.ID}}">
                <input type="hidden" name="editor_id" value="{{$.EditorID}}">
                <button type="submit">Одобрить публикацию</button>
            </form>
            <form action="/request_revision" method="POST" style="display:inline;">
                <input type="hidden" name="article_id" value="{{.ID}}">
                <input type="hidden" name="editor_id" value="{{$.EditorID}}">
                <label for="remarks">Замечания:</label>
                <input type="text" id="remarks" name="remarks" required>
                <button type="submit">Отправить на доработку</button>
            </form>
            {{end}}

        </li>
        {{end}}
    </ul>
    {{else}}
    <p>Нет неопубликованных публикаций.</p>
    {{end}}


    <!-- Отображение текущих тем, если они есть -->
    {{if .Topics}}
    <h3>Список текущих тем:</h3>
    <ul>
        {{range .Topics}}
        <li>
            Тема: {{.Topic}}, Отдел: {{.Department}}
            <form action="/chief_editor/delete_topic" method="POST" style="display:inline;">
                <input type="hidden" name="editor_id" value="{{$.EditorID}}">
                <input type="hidden" name="topic_id" value="{{.ID}}">
                <button type="submit"
                    onclick="return confirm('Вы уверены, что хотите удалить эту тему?');">Удалить</button>
            </form>
        </li>

        {{end}}
    </ul>
    {{else}}
    <p>Темы не найдены.</p>
    {{end}}

</body>

</html>