<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница Редактора отдела</title>
</head>
<body>
    <h1>Добро пожаловать на страницу Редактора отдела!</h1>
    <p>Здесь редакторы отделов могут управлять публикациями.</p>

    <h2>Проверка и управление публикациями</h2>
    {{if .Publications}}
    <ul>
        {{range .Publications}}
        <li>
            <h4>Название: {{.Title}}</h4>
            <p>{{.Content}}</p>
            <p>Статус: {{.Status}}</p>
            <p>Опубликована: {{if .IsPublished}}Да{{else}}Нет{{end}}</p>

            {{if eq .Status "approved"}}
                <form action="/section_editor/publish_publication" method="POST" style="display:inline;">
                    <input type="hidden" name="article_id" value="{{.ID}}">
                    <input type="hidden" name="editor_id" value="{{$.UserID}}">
                    <button type="submit">Выложить публикацию</button>
                </form>
            {{else if eq .Status "published"}}
                <p style="color: green;">Публикация выложена</p>
            {{else}}

                
                <form action="/approve_publication" method="POST" style="display:inline;">
                    <input type="hidden" name="article_id" value="{{.ID}}">
                    <input type="hidden" name="editor_id" value="{{$.UserID}}">
                    <button type="submit">Одобрить публикацию</button>
                </form>
                <form action="/request_revision" method="POST" style="display:inline;">
                    <input type="hidden" name="article_id" value="{{.ID}}">
                    <input type="hidden" name="editor_id" value="{{$.UserID}}">
                    <label for="remarks">Замечания:</label>
                    <input type="text" id="remarks" name="remarks" required>
                    <button type="submit">Отправить на доработку</button>
                </form>
            {{end}}
        </li>
        {{end}}
    </ul>
    {{else}}
    <p>Нет неопубликованных публикаций.</p>
    {{end}}

</body>
</html>
