<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
</head>
<body>
    <h1>Добро пожаловать, {{ .UserName }}</h1>

    <p>Вы вошли как: {{ .Role }}</p>
    
    
    {{ if eq .Role "Admin" }}
    <form action="/admin_page" method="GET">
        <input type="hidden" name="id" value="{{ .UserID }}">
        <button type="submit">Перейти на админскую страницу</button>
    </form>
    
    {{ end }}

    {{ if eq .Role "ChiefEditor" }}
    <form action="/chief_editor_page" method="GET">
        <input type="hidden" name="id" value="{{ .UserID }}">
        <button type="submit">Перейти на страницу главного редактора</button>
    </form>
    {{ end }}

    {{ if eq .Role "SectionEditor" }}
    <form action="/section_editor_page" method="GET">
        <input type="hidden" name="id" value="{{ .UserID }}">
        <button type="submit">Перейти на страницу редактора отдела</button>
    </form>
    {{ end }}

    {{ if eq .Role "Author" }}
    <form action="/author_page" method="GET">
        <input type="hidden" name="id" value="{{ .UserID }}">
        <button type="submit">Перейти на страницу автора</button>
    </form>
    {{ end }}
</body>
</html>
